.inputsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.exchangeButton.exchangeButton {
  border-radius: 50%;
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}
.exchangeBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.procent {
  font-weight: bold;
}


