.exchangeBottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.percent {
  font-weight: bold;
}
.sourceLink {
  color: #1976d2;
}
.bottomText{
  margin: 0;
}
.exchangeRate{
  width: 200px;
}